## Preprocessing

In [1]:
!pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.3.5-py3-none-any.whl (176 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 176.1/176.1 kB 13.2 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.27.1)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.3.5 kt-legacy-1.0.5

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME', 'SPECIAL_CONSIDERATIONS', 'AFFILIATION'], axis=1)
#application_df = application_df.drop([
application_df.head()

,APPLICATION_TYPE,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,C1000,ProductDev,Association,1,0,5000,1
1,T3,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,T5,C3000,ProductDev,Association,1,0,5000,0
3,T3,C2000,Preservation,Trust,1,10000-24999,6692,1
4,T3,C1000,Heathcare,Trust,1,100000-499999,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts < 724].index)
application_types_to_replace

['T10', 'T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [7]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_above1 = class_counts[class_counts >1]
class_above1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 194].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1003
C7000      777
C1700      287
C4000      194
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=int)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,1,5000,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(columns="IS_SUCCESSFUL").values
y
X

array([[       1,     5000,        1, ...,        0,        0,        0],
       [       1,   108590,        0, ...,        0,        0,        0],
       [       1,     5000,        0, ...,        0,        0,        0],
       ...,
       [       1,     5000,        0, ...,        0,        0,        0],
       [       1,     5000,        0, ...,        0,        0,        0],
       [       1, 36500179,        0, ...,        0,        0,        0]])

In [13]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 10
hidden_nodes_layer3 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                380

 dense_1 (Dense)             (None, 10)                110

 dense_2 (Dense)             (None, 5)                 55

 dense_3 (Dense)             (None, 1)                 6

=================================================================
Total params: 551
Trainable params: 551
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=150)

Epoch 1/150
804/804 [==============================] - 3s 2ms/step - loss: 0.6417 - accuracy: 0.6298
Epoch 2/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6182 - accuracy: 0.6500
Epoch 3/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6137 - accuracy: 0.6525
Epoch 4/150
804/804 [==============================] - 3s 3ms/step - loss: 0.6111 - accuracy: 0.6550
Epoch 5/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6097 - accuracy: 0.6554
Epoch 6/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6085 - accuracy: 0.6553
Epoch 7/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6082 - accuracy: 0.6562
Epoch 8/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6073 - accuracy: 0.6571
Epoch 9/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6067 - accuracy: 0.6552
Epoch 10/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6062 - accuracy: 0.6565
Epoch 11/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6061 - accuracy: 0.6557
Epoch 12/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6057 - accuracy: 0.6580
Epoch 13/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6055 - accuracy: 0.6579
Epoch 14/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6053 - accuracy: 0.6577
Epoch 15/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6047 - accuracy: 0.6572
Epoch 16/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6050 - accuracy: 0.6578
Epoch 17/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6044 - accuracy: 0.6577
Epoch 18/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6043 - accuracy: 0.6566
Epoch 19/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6040 - accuracy: 0.6582
Epoch 20/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6041 - accuracy: 0.6584
Epoch 21/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6039 - accuracy: 0.6576
Epoch 22/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6036 - accuracy: 0.6580
Epoch 23/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6034 - accuracy: 0.6579
Epoch 24/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6036 - accuracy: 0.6573
Epoch 25/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6035 - accuracy: 0.6581
Epoch 26/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6032 - accuracy: 0.6585
Epoch 27/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6029 - accuracy: 0.6597
Epoch 28/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6028 - accuracy: 0.6581
Epoch 29/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6030 - accuracy: 0.6588
Epoch 30/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6030 - accuracy: 0.6574
Epoch 31/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6025 - accuracy: 0.6597
Epoch 32/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6024 - accuracy: 0.6595
Epoch 33/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6026 - accuracy: 0.6595
Epoch 34/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6025 - accuracy: 0.6598
Epoch 35/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6022 - accuracy: 0.6594
Epoch 36/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6020 - accuracy: 0.6589
Epoch 37/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6021 - accuracy: 0.6591
Epoch 38/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6019 - accuracy: 0.6607
Epoch 39/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6021 - accuracy: 0.6579
Epoch 40/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6021 - accuracy: 0.6597
Epoch 41/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6018 - accuracy: 0.6585
Epoch 42/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6019 - accuracy: 0.6605
Epoch 43/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6019 - accuracy: 0.6607
Epoch 44/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6019 - accuracy: 0.6586
Epoch 45/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6015 - accuracy: 0.6598
Epoch 46/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6016 - accuracy: 0.6588
Epoch 47/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6016 - accuracy: 0.6588
Epoch 48/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6013 - accuracy: 0.6604
Epoch 49/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6014 - accuracy: 0.6613
Epoch 50/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6013 - accuracy: 0.6594
Epoch 51/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6012 - accuracy: 0.6600
Epoch 52/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6013 - accuracy: 0.6607
Epoch 53/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6010 - accuracy: 0.6607
Epoch 54/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6011 - accuracy: 0.6596
Epoch 55/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6011 - accuracy: 0.6604
Epoch 56/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6008 - accuracy: 0.6613
Epoch 57/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6009 - accuracy: 0.6608
Epoch 58/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6007 - accuracy: 0.6604
Epoch 59/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6009 - accuracy: 0.6600
Epoch 60/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6005 - accuracy: 0.6606
Epoch 61/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6004 - accuracy: 0.6618
Epoch 62/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6007 - accuracy: 0.6611
Epoch 63/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6007 - accuracy: 0.6597
Epoch 64/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6004 - accuracy: 0.6615
Epoch 65/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6005 - accuracy: 0.6616
Epoch 66/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6004 - accuracy: 0.6614
Epoch 67/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6002 - accuracy: 0.6606
Epoch 68/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6000 - accuracy: 0.6611
Epoch 69/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6004 - accuracy: 0.6605
Epoch 70/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6003 - accuracy: 0.6609
Epoch 71/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6002 - accuracy: 0.6606
Epoch 72/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5999 - accuracy: 0.6605
Epoch 73/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5998 - accuracy: 0.6613
Epoch 74/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6000 - accuracy: 0.6613
Epoch 75/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5999 - accuracy: 0.6610
Epoch 76/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6000 - accuracy: 0.6609
Epoch 77/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5999 - accuracy: 0.6621
Epoch 78/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5999 - accuracy: 0.6609
Epoch 79/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5999 - accuracy: 0.6609
Epoch 80/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5998 - accuracy: 0.6605
Epoch 81/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5997 - accuracy: 0.6612
Epoch 82/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5997 - accuracy: 0.6606
Epoch 83/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5997 - accuracy: 0.6601
Epoch 84/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5994 - accuracy: 0.6616
Epoch 85/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5992 - accuracy: 0.6613
Epoch 86/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5995 - accuracy: 0.6623
Epoch 87/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5995 - accuracy: 0.6607
Epoch 88/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5993 - accuracy: 0.6605
Epoch 89/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5993 - accuracy: 0.6614
Epoch 90/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5995 - accuracy: 0.6608
Epoch 91/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5992 - accuracy: 0.6605
Epoch 92/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5995 - accuracy: 0.6614
Epoch 93/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5993 - accuracy: 0.6618
Epoch 94/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5990 - accuracy: 0.6622
Epoch 95/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5992 - accuracy: 0.6614
Epoch 96/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5991 - accuracy: 0.6616
Epoch 97/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5992 - accuracy: 0.6617
Epoch 98/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5991 - accuracy: 0.6621
Epoch 99/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5990 - accuracy: 0.6611
Epoch 100/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5990 - accuracy: 0.6613
Epoch 101/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5991 - accuracy: 0.6618
Epoch 102/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5991 - accuracy: 0.6620
Epoch 103/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5988 - accuracy: 0.6615
Epoch 104/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5989 - accuracy: 0.6610
Epoch 105/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5991 - accuracy: 0.6619
Epoch 106/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5985 - accuracy: 0.6602
Epoch 107/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5991 - accuracy: 0.6617
Epoch 108/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5990 - accuracy: 0.6618
Epoch 109/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5988 - accuracy: 0.6624
Epoch 110/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5990 - accuracy: 0.6615
Epoch 111/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5989 - accuracy: 0.6621
Epoch 112/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5987 - accuracy: 0.6626
Epoch 113/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5986 - accuracy: 0.6618
Epoch 114/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5987 - accuracy: 0.6619
Epoch 115/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5988 - accuracy: 0.6619
Epoch 116/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5986 - accuracy: 0.6604
Epoch 117/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5986 - accuracy: 0.6626
Epoch 118/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5986 - accuracy: 0.6622
Epoch 119/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5986 - accuracy: 0.6607
Epoch 120/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5987 - accuracy: 0.6619
Epoch 121/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5986 - accuracy: 0.6617
Epoch 122/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5984 - accuracy: 0.6621
Epoch 123/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5982 - accuracy: 0.6619
Epoch 124/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5984 - accuracy: 0.6613
Epoch 125/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5986 - accuracy: 0.6620
Epoch 126/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5983 - accuracy: 0.6619
Epoch 127/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5983 - accuracy: 0.6619
Epoch 128/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5982 - accuracy: 0.6619
Epoch 129/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5983 - accuracy: 0.6612
Epoch 130/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5983 - accuracy: 0.6618
Epoch 131/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5981 - accuracy: 0.6627
Epoch 132/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5982 - accuracy: 0.6613
Epoch 133/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5983 - accuracy: 0.6605
Epoch 134/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5982 - accuracy: 0.6621
Epoch 135/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5983 - accuracy: 0.6613
Epoch 136/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5981 - accuracy: 0.6623
Epoch 137/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5982 - accuracy: 0.6629
Epoch 138/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5982 - accuracy: 0.6625
Epoch 139/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5980 - accuracy: 0.6626
Epoch 140/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5982 - accuracy: 0.6623
Epoch 141/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5981 - accuracy: 0.6614
Epoch 142/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5980 - accuracy: 0.6631
Epoch 143/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5979 - accuracy: 0.6616
Epoch 144/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5980 - accuracy: 0.6629
Epoch 145/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5978 - accuracy: 0.6622
Epoch 146/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5979 - accuracy: 0.6625
Epoch 147/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5978 - accuracy: 0.6615
Epoch 148/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5980 - accuracy: 0.6612
Epoch 149/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5977 - accuracy: 0.6616
Epoch 150/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5979 - accuracy: 0.6629

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6114 - accuracy: 0.6547 - 338ms/epoch - 1ms/step
Loss: 0.6113775372505188, Accuracy: 0.6546939015388489

In [19]:
# Export our model to HDF5 file
from google.colab import files

nn.save('AlphabetSoupCharity_Optimization_tanh.h5')
files.download('AlphabetSoupCharity_Optimization_tanh.h5')